.cell {
  width: 16px;
  height: 16px;
  border: 1px solid black;
}

.red{
  background-color: red;
}

.orange{
  background-color: orange;
}

.yellow{
  background-color: yellow;
}

.green{
  background-color: green;
}

.blue{
  background-color: blue;
}

.violet{
  background-color: violet;
}
